<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 9 years of experience in the biotech and info tech industry, and have worked
            at both small startups and large organizations. Throughout my career, I have held postions in
            process engineering, project managment, software engineering and bussiness strategy consulting.
            While I'm a proficient software development and process engineer, my expertise is in managing
            cross functional teams.
        </p>
        <p>
           I love building things.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer and client problems with a business justification.
           I'm looking for a product management or senior individual contributor role where I can take on
           on collaborative team leadership responsibilites, and gain more experience with
           full stack engineering and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Developed and implemented business strategy for life science start-up and tech company centered on using to advanced automation
            for optimization, safety and regulatory compliance.
    			</li>
          <li>
            Facilitated transfer and start-up of manufacturing and business process changes from facilities in Denmark to US sites for
            a product with an estimated market value of $2B.
          <li>
            Led teams of 10-15 on multi-functional manufacturing projects in changeover reduction, yield improvement, OEE improvement
            and waste reduction that resulted in savings of greater than $500K annually.
    			<li>
            Executed market research, competitive intelligence strategy and business development in target markets. 
    			</li>
    			<li>
            Recognized and presented with the Regeneron Safety Award for the design, development and implementation of a new raw
            material that reduced both operational cost by $175K annually and safety risk for manufacturing personnel.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
