<!doctype html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} CV</title>
  <link rel="stylesheet" href="{{ site.baseurl }}{{ "/css/markdown-cv/davewhipp-print.css" }}">
  <link rel="stylesheet" href="{{ site.baseurl }}{{ "/css/markdown-cv/davewhipp-screen.css" }}">
  <link rel="stylesheet" href="{{ site.baseurl }}{{ "/css/markdown-cv/kjhealy-screen.css" }}">
  <link rel="stylesheet" href="{{ site.baseurl }}{{ "/css/markdown-cv/kjhealy-screen.css" }}">
</head>
<body>
  <div class="resume">
    <div id="content">
    {{ content }}
    </div>
  </div>
</body>
</html>
